<% provide(:title, 'ログインフォーム') %>
<h1>ログイン</h1>
<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: '/login', method: :post, local: true) do |f| %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div style="text-align: center;">
  <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Twitterアカウントでログイン
  <% end %>
  <br>
  新規登録は<%= link_to 'こちら', '/signup' %>
</div>