<% provide(:title, '家計簿')%>
<h1>家計簿</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to '支出', household_path(@income, :user_id => @user.id, :status => 'expense'), class: "btn btn-sm btn-primary" %>
    <%= link_to '収入', household_path(@expense, :user_id => @user.id, :status => 'income'), class: "btn btn-sm btn-primary" %>
    <% if @params == 'expense' %>
      <%= form_with(model: @expense, url: '/expenses', method: :post, local: true) do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :金額 %>
            <%= f.number_field :emoney, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.label :カテゴリー %>
            <%= f.select :ecategory_id, Expense.ecategory_ids.keys.map {|k| [I18n.t("enums.expense.ecategory_id.#{k}"), k]}, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.label :メモ %>
            <%= f.text_field :enote, placeholder: '品名やお店', class: 'form-controll'%>
        </div>

        <div class="form-group">
          <%= f.label :日付 %>
            <%= f.date_select :edate, use_month_numbers: true, default: Date.today, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.submit '保存', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>

    <% if @params == 'income' %>
      <%= form_with(model: @income, url: '/incomes', method: :post, local: true) do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :金額 %>
            <%= f.number_field :imoney, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.label :カテゴリー %>
            <%= f.select :icategory, Income.icategories.keys.map {|m| [I18n.t("enums.income.icategory.#{m}"), m]}, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.label :メモ %>
            <%= f.text_field :inote, placeholder: '品名やお店', class: 'form-controll'%>
        </div>

        <div class="form-group">
          <%= f.label :日付 %>
            <%= f.date_select :idate, use_month_numbers: true, default: Date.today, class: 'form-controll' %>
        </div>

        <div class="form-group">
          <%= f.submit '保存', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>