<% provide(:title, '家計簿')%>
<h1>Income家計簿</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @income, url: '/incomes', method: :post, local: true) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

      <%= f.label :金額 %>
      <%= f.number_field :imoney, class: 'form-controll' %>

      <%= f.label :カテゴリー%>
      <%= f.select :icategory, Income.icategories.keys.map, class: 'form-controll' %>

      <%= f.label :メモ %>
      <%= f.text_field :inote, class: 'form-controll'%>

      <%= f.label :日付 %>
      <%= f.date_select :idate, class: 'form-controll' %>
    <% end %>
  </div>
</div>