<% provide(:title, '支出グラフ')%>
<%# <h1>グラフ</h1> %>
<div class="row justify-content-center">
  <%= link_to '支出', graph_path, class: 'btn btn-primary', data: {"turbolinks" => false} %>
  <%= link_to '貯金', bar_graph_path, class: 'btn btn-primary', data: {"turbolinks" => false} %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th><%= link_to '⬅︎', graph_path(current_day: @last_month), class: 'btn', data: {"turbolinks" => false} %></th>
        <th><%= @current_day.year %>年<%= @current_day.month %>月の支出データ</th>
        <th><%= link_to '➡︎', graph_path(current_day: @next_month), class: 'btn', data: {"turbolinks" => false} %></th>
      </tr>
    </thead>
  </table>

  <div style="width: 50%">
    <% if @arr_month_expenses.blank? %>
    <div class="graph-no-data">
      <p>データがありません</p>
    </div>
    <% end %>
    <canvas id="pie-chart" height="450" width="600"></canvas>
  </div>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
      <tr>
        <td>合計</td>
        <td><%= @total_expense_money %>円</td>
      </tr>
      <% @arr_month_expenses.each do |expenses| %>
        <% expenses.each do |expense| %>
          <tr>
            <td><%= ExpensesHelper::CATEGORY_JA_CONVERT[expense.ecategory_id] %></td>
            <td><%= expense.emoney %>円</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
const CATEGORY_JA_CONVERT = {
  food: '食費',
  eating_out: '外食費',
  daily_necessities: '日用品',
  traffic: '交通費',
  clothes: '衣服',
  companionship: '交際費',
  hobby: '趣味',
  other: 'その他'
};
var expenses = gon.arr_month_expenses;
var pieData = [];
expenses.forEach(function( expense ) {
  array = {};
  array['value'] = expense[0]['emoney'];
  array['color'] = expense[0]['color'];
  array['highlight'] = expense[0]['highlight'];
  array['label'] = CATEGORY_JA_CONVERT[expense[0]['ecategory_id']];
  pieData.push(array);
});
// console.log(expenses);
// console.log(pieData);
// var pieData = [
//   {
//     value: 3000,
//     color:"#9acce3",
//     highlight: "#aadbf2",
//     label: 'food'
//   },
//   {
//     value: 2000,
//     color: "#70b062",
//     highlight: "#7fc170",
//     label: "eating_out"
//   },
// ];

window.onload = function(){
  var ctx = document.getElementById("pie-chart").getContext("2d");
  window.myPie = new Chart(ctx).Pie(pieData);
};
</script>