<% provide(:title, 'カレンダー')%>
<h1>カレンダー</h1>
<div id="calendar"></div>
<div class="row">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th><%= link_to '⬅︎', expenses_path(current_day: @last_month), class: 'btn', data: {"turbolinks" => false} %></th>
        <th><%= @current_day.year %>年<%= @current_day.month %>月のデータ</th>
        <th><%= link_to '➡︎', expenses_path(current_day: @next_month), class: 'btn', data: {"turbolinks" => false} %></th>
      </tr>
      <tr>
        <th>収入</th>
        <th>支出</th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @total_income_money %>円</td>
        <td><%= @total_expense_money %>円</td>
        <td><%= subtraction(@total_income_money, @total_expense_money) %>円</td>
      </tr>      
    </tbody>
  </table>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
    <% @expenses_table_data.each do |etd| %>
      <tr>
        <th><%= etd[0]['edate'] %></th>
      </tr>
        <% etd.each do |value|%>
          <tr>
            <td><%= value['ecategory_id'] %></td>
            <td><%= value['enote'] %></td>
            <td><%= value['emoney'] %>円</td>
          </tr>
        <% end %>
    <% end %>
    </body>
  </table>
</div>