<% provide(:title, 'カレンダー')%>
<h1>カレンダー</h1>
<div id="calendar"></div>
<div class="row">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th><%= link_to '⬅︎', '#', class: 'btn' %></th>
        <th>2019年7月データ</th>
        <th><%= link_to '➡︎', '#', class: 'btn' %></th>
      </tr>
      <tr>
        <th>収入</th>
        <th>支出</th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @total_income_money %>円</td>
        <td><%= @total_expense_money %>円</td>
        <td><%= subtraction(@total_income_money, @total_expense_money) %>円</td>
      </tr>      
    </tbody>
  </table>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
    <%# @current_month_expenses.each do |expense| %>
    <%# @uniq_current_month_days.each do |ucmd| %>
    <% @array.each do |cme| %>
      <tr>
        <th><%= cme[0]['edate'] %></th>
      </tr>
        <% cme.each do |value|%>
        <%# binding.pry %>
          <tr>
            <td><%= value['ecategory_id'] %></td>
            <td><%= value['enote'] %></td>
            <td><%= value['emoney'] %>円</td>
          </tr>
        <% end %>
    <% end %>
    <%# end %>
    </body>
  </table>
</div>