<% provide(:title, 'カレンダー')%>
<%# <h1>カレンダー</h1> %>
<div id="calendar"></div>
<div class="row justify-content-center">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th><%= link_to '⬅︎', expenses_path(current_day: @last_month), class: 'btn', data: {"turbolinks" => false} %></th>
        <th><%= @current_day.year %>年<%= @current_day.month %>月のデータ</th>
        <th><%= link_to '➡︎', expenses_path(current_day: @next_month), class: 'btn', data: {"turbolinks" => false} %></th>
      </tr>
      <tr>
        <th>収入</th>
        <th>支出</th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @total_income_money %>円</td>
        <td><%= @total_expense_money %>円</td>
        <td><%= subtraction(@total_income_money, @total_expense_money) %>円</td>
      </tr>      
    </tbody>
  </table>

  <table class="table table-bordered table-striped table-condensed">
    <tbody>
    <% @expenses_table_data.each do |expenses| %>
      <tr>
        <th><%= expenses[0]['edate'] %></th>
      </tr>
      <% expenses.each do |expense|%>
        <tr>
          <td><%= ExpensesHelper::CATEGORY_JA_CONVERT[expense.ecategory_id] %></td>
          <td><%= expense.enote %></td>
          <td><%= expense.emoney %>円</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#a<%= expense.id %>">編集</button>
          </td>
        </tr>
      <% end %>
    <% end %>
    </body>
  </table>

  <!-- モーダルの設定 -->
  <% @expenses_table_data.each do |etde| %>
    <% etde.each do |e| %>
    <div class="modal fade" id="a<%= e.id %>" tabindex="-1"
        role="dialog" aria-labelledby="label1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label1">編集</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with(model: e, url: "/expenses/#{e.id}", method: :patch, local: true) do |f| %>
              <%#= render 'shared/error_messages', object: f.object %>
              <%= f.hidden_field :id, :value => e.id %>
              <div class="form-group">
                <%= f.label :金額 %>
                <%= f.number_field :emoney, class: 'form-controll' %>
              </div>

              <div class="form-group">
                <%= f.label :カテゴリー %>
                <%= f.select :ecategory_id, Expense.ecategory_ids.keys.map {|k| [I18n.t("enums.expense.ecategory_id.#{k}"), k]}, class: 'form-controll' %>
              </div>

              <div class="form-group">
                <%= f.label :メモ %>
                <%= f.text_field :enote, placeholder: '品名やお店', class: 'form-controll'%>
              </div>

              <div class="form-group">
                <%= f.label :日付 %>
                <%= f.date_select :edate, use_month_numbers: true, default: Date.today, class: 'form-controll' %>
              </div>

              <div class="form-group">
                <%= f.submit '変更', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= link_to '削除', expense_path(id: e.id), method: :delete, class: 'btn btn-secondary', data: { confirm: "本当に削除しますか？" } %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<script>
// FullCalendarの設定を読み込み、お及びFullCalendarを削除
$(function () {
  function eventCalendar() {
      return $('#calendar').fullCalendar({});
  };
  function clearCalendar() {
      $('#calendar').html('');
  };
  $(document).on('turbolinks:load', function () {
    eventCalendar();
  });
  $(document).on('turbolinks:before-cache', clearCalendar);
  $('#calendar').fullCalendar({
    events: '/expenses.json',
    //カレンダー上部を年月で表示させる
    titleFormat: 'YYYY年 M月',
    //曜日を日本語表示
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
    //ボタンのレイアウト
    header: {
        left: '',
        center: 'title',
        right: "today, prev, next"
    },
    //終了時刻がないイベントの表示間隔
    defaultTimedEventDuration: '03:00:00',
    buttonText: {
        prev: '前',
        next: '次',
        prevYear: '前年',
        nextYear: '翌年',
        today: '今日',
        month: '月',
        week: '週',
        day: '日'
    },
    //イベントの時間表示を２４時間に
    timeFormat: "HH:mm",
    //イベントの色を変える
    eventColor: '#63ceef',
    //イベントの文字色を変える
    eventTextColor: '#000000',
    
  });
});
</script>